main{
	padding-top: 20px;
}

main .row{
	margin-bottom:20px;
	margin-right: auto;
	margin-left: auto;
}

body{
	 font-family: "Roboto", sans-serif;
}

.container{
	background-color:orange;
}

.title, .subtitle{
	margin-left: 479px;
}

.title{
	font-size: 20px;
}

.subtitle{
	font-size: 12px;
}

.row{
	margin-left: 80px;
}

.card-image{
	width:100%;
}

.